<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>URL Shortener</title>
</head>
<body>

<h2>URL Shortener</h2>

<!-- Shorten URL Form -->
<form th:action="@{/shorten}" method="post">
  <label for="longUrl">Enter Long URL:</label>
  <input type="text" id="longUrl" name="longUrl" th:value="*{shortUrl}"   required>
  <button type="submit">Shorten URL</button>
</form>
<div th:if="${shortUrl}">
  <p>Shortened URL:</p>
  <input type="text" th:value="${shortUrl}" readonly>
</div>

<!-- Display Redirected URL or Error Message -->
<div>
  <p th:if="${longUrl}">Redirected URL:</p>
  <a th:if="${longUrl}" th:href="${longUrl}" th:text="${longUrl}" target="_blank"></a>

  <p th:if="${errorMessage}" style="color: red" th:text="${errorMessage}"></p>
</div>

</body>
</html>
