<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>URL Shortener</title>
</head>
<body>

<h2>URL Shortener</h2>

<!-- Form to Enter Long URL -->
<form th:action="@{/shorten}" method="post">
  <label for="longUrl">Enter Long URL:</label>
  <input type="text" id="longUrl" name="longUrl" required>

  <button type="submit">Shorten URL</button>
</form>


<!-- Display Shortened URL as Clickable Link -->
<div th:if="${shortUrl}" class="shortened-url">
  <p>Shortened URL:</p>
  <!-- Use the domainName attribute directly from the model -->
  <a th:href="@{'http://' + ${domainName} + '/' + ${shortUrl}}"
     th:text="@{'http://' + ${domainName} + '/' + ${shortUrl}}" class="btn btn-success" role="button"
     target="_blank"></a>
</div>

<!--<div th:if="${shortUrl}">
  <p>Shortened URL:</p>
  <input type="text" th:value="${shortUrl}" readonly>
  </div>

<div th:if="${shortUrl}">
  <p>Shortened URL:</p>
  <a th:href="@{'http://localhost:8080/' + ${shortUrl}}" th:text="@{'localhost:8080/' + ${shortUrl}}" target="_blank"></a>
</div> -->


</body>
</html>
